.main-container {
    display: flex;
    background: #FFF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.Hero-container {
    width: 1920px;
    height: 895px;
    /* flex-shrink: 0; */
/* 

    display: flex;
    justify-content: center;
    align-items: center; */
    opacity: 0.9;
    background-image: url('../Assets/ant.jpg');
    /* background-size: cover;
    background-position: center; */
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.hero-title {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.hero-paragraph {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
