.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.Hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    opacity: 0.9;
    background-image: url('../Assets/backwebsite.gif');
    background-size: cover;
    background-position: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.hero-title {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.hero-paragraph {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
